/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #000;
  background-color: #fdfdfd;
  font-family: Arial, "Microsoft YaHei", sans-serif;
  /*font: 13.34px "Segoe UI", arial, clean, sans-serif;*/
  position: relative;
  font-size: 18px;
  text-align: center;
  margin: auto 10px;
}

h1 {
  font-size: 140%;
  box-shadow: 1px 1px 1px 1px rgb(95, 90, 75), 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
  background: none repeat 0% 0% rgb(27, 161, 226);
  color: rgb(255, 255, 255);
}

h1.titlex {
  box-shadow: none;
  background: none;
  color: rgb(0, 0, 0);
}

h2 {
  font-size: 120%;
  border-bottom: 1px solid #999;
}

h3 {
  font-size: 110%;
}

h4,
h5,
h6 {
  font-size: 100%;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table,
td,
th {
  font-size: inherit;
  font: 100%;
  border: 1px solid #1ba1e2;
}

th {
  background-color: #1ba1e2;
  color: white;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  /*font-family: Monaco, "Courier New", monospace;*/
  font-family: "Segoe UI", serif;
  font-size: 80%;
}

ul.category {
  list-style-type: none;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

ul.category li {
  line-height: 1.75em;
}

ul.category span {
  color: #aaa;
  /*font-family: Monaco, "Courier New", monospace;*/
  font-family: "Segoe UI", serif;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  text-align: justify;
  width: 65em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
  /* margin-left: 15em; */
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

.site .title a {
  color: #a00;
  text-decoration: none;
}

.site .title a:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

.site .title a.extra:hover {
  color: black;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

pre {
  border: 2px solid #ddd;
  background-color: #000;
  padding: 0 .4em;
}

#post {
  @media (max-width: 100em) {
    margin-left: 15em;
  }
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

pre code {
  border: none;
}

pre,
code {
  color: #888;
  background-color: #eee;
  border-color: #000;
  border-radius: 8px;
  font: 12px Consolas, arial, clean, sans-serif;
  font-size: 100%;
}

code.language-plaintext {
  color: #339;
}


code.has-jax {
  font: inherit;
  font-size: 120%;
  border: inherit;
  color: black;
  background-color: white;
}

/* terminal */

#post pre.terminal {
  border: 0px solid black;
  background-color: #fff;
  color: white;
}

#post pre.terminal code {
  background-color: #fff;
}

#related {
  margin-top: 2em;
}

#related h2 {
  margin-bottom: 1em;
}

.clear {
  clear: both;
}

body div.content pre {
  background-color: #fff;
  padding: 0.4em 1em;
  border-left: 2px solid #fff;
}

body div.content code {
  background-color: #fff;
  padding: 0 0.1em;
}

body div.content pre>code {
  padding: 0;
  background-color: transparent;
}

body div.content code.has-jax {
  font: inherit;
  font-size: 120%;
  background: inherit;
  border: inherit;
  color: black;
  background-color: #fff;
}

.MathJax .mo,
.MathJax .mi {
  color: inherit;
}

body div.gist {
  font-size: 15px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: .5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: .1em;
  margin-right: .25em;
  vertical-align: -.4em;
}

blockquote p {
  display: inline;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#markdown-toc {
  height: 80%;
  width: 10em;
  position: fixed;
  overflow: auto;
  z-index: 1;
  top: 5em;
  left: 0;
  word-wrap: break-word;
  text-align: left;
}