/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  font: 13.34px "Segoe UI", arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table, td, th {
  font-size: inherit;
  font: 100%;
  border:1px solid green;
}

th {
  background-color:green;
  color:white;
}

code.has-jax {
  font: inherit; 
  font-size: 120%;
  border: inherit;
  color: black;
  background-color: white;
}
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    /*font-family: Monaco, "Courier New", monospace;*/
	font-family: "Segoe UI", serif;	
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 58em;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;
}

  .site .title a {
    color: #a00;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

	.highlight pre {background-color: #000000;}
	.highlight pre code{color: white;}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 2px solid #ddd;
    background-color: #000;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
	color:white;
	border: 1px solid #ffe;
    background-color: #000;
	font: 12px Consolas, arial, clean, sans-serif;
    font-size: 100%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 0px solid black;
    background-color: #fff;
    color: white;
  }

  #post pre.terminal code {
    background-color: #fff;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }


.clear {clear: both;}

body div.content {}
  
body div.content pre {
  background-color: #fff;
  padding: 0.4em 1em;
  border-left: 2px solid #fff;
}
		
body div.content code {
   background-color: #fff;
   padding: 0 0.1em;
}
												
body div.content pre > code {
  padding: 0; background-color: transparent;
}

body div.content code.has-jax {
  font: inherit; 
  font-size: 120%;
  background: inherit;
  border: inherit;
  color: black;
  background-color: #fff;
}
																					
body div.gist {
  font-size: 15px;
}
