.hll { background-color: #222222 }
.c { color: #0080FF } /* Comment */
.err { color: #888888; border: 1px solid #FF0000 } /* Error */
.g { color: #888888 } /* Generic */
.k { color: #cdcd00 } /* Keyword */
.l { color: #888888 } /* Literal */
.n { color: #888888 } /* Name */
.o { color: #3399cc } /* Operator */
.x { color: #888888 } /* Other */
.p { color: #888888 } /* Punctuation */
.cm { color: #0080FF } /* Comment.Multiline */
.cp { color: #0080FF } /* Comment.Preproc */
.c1 { color: #0080FF } /* Comment.Single */
.cs { color: #cd0000; font-weight: bold } /* Comment.Special */
.gd { color: #cd0000 } /* Generic.Deleted */
.ge { color: #888888; font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #0080FF; font-weight: bold } /* Generic.Heading */
.gi { color: #00cd00 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #0080FF; font-weight: bold } /* Generic.Prompt */
.gs { color: #888888; font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #cdcd00 } /* Keyword.Constant */
.kd { color: #00cd00 } /* Keyword.Declaration */
.kn { color: #cd00cd } /* Keyword.Namespace */
.kp { color: #cdcd00 } /* Keyword.Pseudo */
.kr { color: #cdcd00 } /* Keyword.Reserved */
.kt { color: #00cd00 } /* Keyword.Type */
.ld { color: #888888 } /* Literal.Date */
.m { color: #cd00cd } /* Literal.Number */
.s { color: #cd0000 } /* Literal.String */
.na { color: #888888 } /* Name.Attribute */
.nb { color: #cd00cd } /* Name.Builtin */
.nc { color: #00cdcd } /* Name.Class */
.no { color: #888888 } /* Name.Constant */
.nd { color: #888888 } /* Name.Decorator */
.ni { color: #888888 } /* Name.Entity */
.ne { color: #666699; font-weight: bold } /* Name.Exception */
.nf { color: #888888 } /* Name.Function */
.nl { color: #888888 } /* Name.Label */
.nn { color: #888888 } /* Name.Namespace */
.nx { color: #888888 } /* Name.Other */
.py { color: #888888 } /* Name.Property */
.nt { color: #888888 } /* Name.Tag */
.nv { color: #00cdcd } /* Name.Variable */
.ow { color: #cdcd00 } /* Operator.Word */
.w { color: #888888 } /* Text.Whitespace */
.mf { color: #cd00cd } /* Literal.Number.Float */
.mh { color: #cd00cd } /* Literal.Number.Hex */
.mi { color: #cd00cd } /* Literal.Number.Integer */
.mo { color: #cd00cd } /* Literal.Number.Oct */
.sb { color: #cd0000 } /* Literal.String.Backtick */
.sc { color: #cd0000 } /* Literal.String.Char */
.sd { color: #cd0000 } /* Literal.String.Doc */
.s2 { color: #cd0000 } /* Literal.String.Double */
.se { color: #cd0000 } /* Literal.String.Escape */
.sh { color: #cd0000 } /* Literal.String.Heredoc */
.si { color: #cd0000 } /* Literal.String.Interpol */
.sx { color: #cd0000 } /* Literal.String.Other */
.sr { color: #cd0000 } /* Literal.String.Regex */
.s1 { color: #cd0000 } /* Literal.String.Single */
.ss { color: #cd0000 } /* Literal.String.Symbol */
.bp { color: #cd00cd } /* Name.Builtin.Pseudo */
.vc { color: #00cdcd } /* Name.Variable.Class */
.vg { color: #00cdcd } /* Name.Variable.Global */
.vi { color: #00cdcd } /* Name.Variable.Instance */
.il { color: #cd00cd } /* Literal.Number.Integer.Long */
pre { white-space: pre; overflow: auto; }
