<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div id="site">
  <div class="title">
    <a href="/">Alexunder Hacking</a>
    <a class="extra" href="/">home</a>
  </div>
 
 {{ content }}

<div class="footer">
    <div class="contact">
      <p>
        Alexunder Hsu<br />
        xalexu@gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/alexunder">github.com/alexunder</a><br />
        <a href="http://twitter.com/chenyuxu">twitter.com/chenyuxu</a><br />
      </p>
    </div>
</div>
	
<div class="RSS">
	<div>
	<!-- Feedsky FEED发布代码开始 -->
	<!-- FEED自动发现标记开始 -->
	<link title="RSS 2.0" type="application/rss+xml" href="http://feed.feedsky.com/alexunder" rel="alternate" />
	<!-- FEED自动发现标记结束 -->
	<a href="http://feed.feedsky.com/alexunder"><img border="0" src="http://img.feedsky.com/images/icon_sub_c1s14_d.gif" alt="feedsky" vspace="2"  style="margin-bottom:3px" ></a><br />
	<a href="http://www.zhuaxia.com/add_channel.php?url=http://feed.feedsky.com/alexunder"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_zhuaxia.gif" alt="&#25235;&#34430;" vspace="2" style="margin-bottom:3px" ></a><br />
	<a href="http://fusion.google.com/add?feedurl=http://feed.feedsky.com/alexunder"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_google.gif" alt="google reader" vspace="2" style="margin-bottom:3px" ></a><br />
	<a href="http://www.bloglines.com/sub/http://feed.feedsky.com/alexunder"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_bloglines.gif" alt="bloglines" vspace="2" style="margin-bottom:3px" ></a><br />
	<a href="http://www.xianguo.com/subscribe.php?url=http://feed.feedsky.com/alexunder"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_xianguo.gif" alt="&#40092;&#26524;" vspace="2" style="margin-bottom:3px" ></a><br />
	<a href="http://inezha.com/add?url=http://feed.feedsky.com/alexunder"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_nazha.gif" alt="&#21738;&#21522;" vspace="2" style="margin-bottom:3px" ></a><br />
	<!-- Feedsky FEED发布代码结束 -->
	</div>
</div>
</div>

<a href="http://github.com/alexunder"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type="text/javascript">
if(document.location.protocol!='https:')
  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRb.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
if(typeof ClickTale=='function') ClickTale(206,0.3,"www03");
</script>
<!-- ClickTale end of Bottom part -->

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>
