<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/pygments/pygments.css" type="text/css" />

  <!-- Homepage CSS -->
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

  <!-- MathJax Section -->

  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

  <script>
    window.MathJax = {
      options: {
        renderActions: {
          findScript: [9, function (doc) {
            for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
              const display = !!node.type.match(/; *mode=display/);
              const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              const text = document.createTextNode('');
              node.parentNode.replaceChild(text, node);
              math.start = {
                node: text,
                delim: '',
                n: 0
              };
              math.end = {
                node: text,
                delim: '',
                n: 0
              };
              doc.math.push(math);
            }
            doc.findMath();
          }, '']
        }
      }
    };
  </script>

  <!-- Typekit -->
</head>

<body>


  <div class="site">
    <div class="title">
      <a href="/">Antkillerfarm Hacking</a>
      <a class="extra" href="/">home</a>
      <a class="extra" href="/">ShareNotes</a>
    </div>

    {{ content }}

    <div class="footer">
      <div class="contact">
        <p>
          Antkillerfarm<br />
          antkillerfarm@sohu.com
        </p>
      </div>
      <div class="contact">
        <p>
          <a href="http://github.com/antkillerfarm">github.com/antkillerfarm</a><br />
        </p>
      </div>
    </div>

    <a href="http://github.com/antkillerfarm"><img style="position: absolute; top: 0; right: 0; border: 0;"
        src="/images/forkme_right_red.png" alt="Fork me on GitHub" /></a>

</body>

</html>