---
layout: default
---
<div id="post">
<h1><a href='{{page.url}}'>{{page.title}}</a></h1>
<span class='date'>{{page.date | date: "%Y-%m-%d"}}</span>
<div class='body'>{{ content }}</div>
<div align="center" class="donate"><p><img src="/images/donate.png" alt="" /></p>
<p>您的打赏，是对我的鼓励</p></div>
</div>

<style>.gc-comments {font:12px/1.5 Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans-serif}</style>
<script src="/css/gc.js"></script>
<div class="gc-comments" data-repos="antkillerfarm/antkillerfarm.github.com" data-issues="1" >
    <div class="gc-comments-info">
        想在此留下评论，请访问 <a target="_blank" href="issues_link">issues_link</a> 提交评论
    </div>
</div>

<div id="related">
  <h2>Recent Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:5 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
