---
layout: default
---
<div id="post">
  <h1 class="titlex"><a href="/#{{page.category}}">{{page.category}}</a> &raquo; <a href='{{page.url}}'>{{page.title}}</a></h1>
  <span class='date'>{{page.date | date: "%Y-%m-%d"}}</span>
  <div class='body'>{{ content }}</div>
  <div align="center" class="donate">
    <p><img src="/images/donate.png" alt="" /></p>
    <p>您的打赏，是对我的鼓励</p>
  </div>
</div>

<script src="https://utteranc.es/client.js"
        repo="antkillerfarm/antkillerfarm.github.com"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<div id="related">
  <h2>Recent Posts in <a href="/#{{page.category}}">{{ page.category }}</a></h2>
  <ul class="posts">
    {% for post in site.categories[page.category] limit:5 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div id="related">
  <h2>Recent Posts in <a href="/">All Blogs</a></h2>
  <ul class="posts">
    {% for post in site.related_posts limit:5 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>